n8n-workflows/01-railway-health-monitor.json
{
  "name": "Railway Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://or-infra.com/api/health",
        "options": {
          "timeout": 30000
        }
      },
      "id": "health-check",
      "name": "Check Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-healthy",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-status",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Railway Health Check PASSED\n\nStatus: {{ $json.status }}\nDatabase: {{ $json.database }}\nVersion: {{ $json.version }}\nTimestamp: {{ $now.toISO() }}",
        "additionalFields": {}
      },
      "id": "telegram-success",
      "name": "Notify Success (Optional)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚨 ALERT: Railway Health Check FAILED!\n\n❌ Status: {{ $json.status || 'UNREACHABLE' }}\n❌ Database: {{ $json.database || 'UNKNOWN' }}\n❌ Error: {{ $json.error || 'No response' }}\n\n🔗 Production: https://or-infra.com\n⏰ Time: {{ $now.toISO() }}\n\n⚠️ ACTION REQUIRED: Check Railway dashboard",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "owner": "edri2or-commits",
        "repository": "project38-or",
        "title": "=🚨 Production Health Check Failed - {{ $now.format('yyyy-MM-dd HH:mm') }}",
        "body": "=## Health Check Failure\n\n**Timestamp**: {{ $now.toISO() }}\n**Status**: {{ $json.status || 'UNREACHABLE' }}\n**Database**: {{ $json.database || 'UNKNOWN' }}\n\n### Details\n\n```json\n{{ JSON.stringify($json, null, 2) }}\n```\n\n### Actions Required\n\n- [ ] Check Railway dashboard\n- [ ] Review recent deployments\n- [ ] Check database connectivity\n- [ ] Review application logs\n\n### Links\n\n- [Railway Dashboard](https://railway.app/project/95ec21cc-9ada-41c5-8485-12f9a00e0116)\n- [Production URL](https://or-infra.com)\n\n---\n*Auto-generated by n8n Health Monitor*",
        "labels": ["production", "health-check", "automated"]
      },
      "id": "github-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "githubApi": {
          "id": "github-creds",
          "name": "GitHub PAT"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Health": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Notify Success (Optional)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["railway", "monitoring", "production", "autonomous"]
}
