docs/n8n/daily-learning-summary.json
{
  "name": "Daily Learning Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 09:00 Israel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "07:00 UTC = 09:00 Israel time"
    },
    {
      "parameters": {
        "url": "https://or-infra.com/api/learning/daily-insights",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-insights",
      "name": "Get Learning Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-insights",
              "leftValue": "={{ $json.insights_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-insights",
      "name": "Has Insights?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Only send if there are insights to report"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-insights",
      "name": "No Insights (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400],
      "notes": "No new insights today, skip notification"
    }
  ],
  "connections": {
    "Daily at 09:00 Israel": {
      "main": [
        [
          {
            "node": "Get Learning Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Learning Insights": {
      "main": [
        [
          {
            "node": "Has Insights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Insights?": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Insights (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "project38-or"
  },
  "tags": [
    {
      "name": "learning",
      "id": "learning"
    },
    {
      "name": "daily",
      "id": "daily"
    },
    {
      "name": "telegram",
      "id": "telegram"
    }
  ],
  "pinData": {},
  "staticData": null,
  "triggerCount": 0
}
